models/
final_models/
trained_models/
final_logs/
data/
*.log
*.pth
fonal_logs/
train_model/
*.pyc
*.npy
complexity/
.idea/
trained_model/
complexity/
run_mahalanobis_benchmark.sh
mahalanobis_parameters/